:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondry-font-family: "Montserrat", sans-serif;

  --primary-color: #ffffff;
  --secondary-color: #272142;
  --background-color-navabar: #252525;
  --background-color-images: #1b1b1b;
  --background-color-footer: #282323;
  --color-headings-about-page: #f65282;
}

h2,
h3,
h1,
p,
.navbar-items a,
footer,
.camera {
  font-family: var(--primary-font-family);
}

.navbar a:hover,
.active-page {
  color: var(--secondary-color) !important;
}

.caption a {
  font-family: var(--secondry-font-family);
}

.hero {
  background-image: url(images/background_photo.svg);
  height: 900px;
}

.caption {
  text-align: center;
  color: var(--primary-color);
  position: absolute;
  top: 40%;
  right: 35%;
}

.photography-name {
  font-weight: bold;
  font-size: 24px;
}

.title-main-page {
  font-weight: bold;
  font-size: 72px;
}

.describe-photograph-main-page {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 460px;
  margin: 0 auto 20px auto;
}

.link-get-started {
  letter-spacing: 4px;
  padding: 18px 30px;
  border-radius: 50px;
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: 14px;
  color: var(--secondary-color);
}

.navbar-items a {
  font-weight: 500;
  font-size: 16px;
}

.navbar {
  background-color: var(--background-color-navabar);
}

.margin-right-img {
  margin-right: 40px;
}

.margin-bottom-img {
  margin-bottom: 40px;
}

.main-photos {
  padding-top: 70px;
  padding-bottom: 80px;
  background-color: var(--background-color-images);
}

footer {
  padding: 20px;
  background-color: var(--background-color-footer);
}

.coded-by {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .caption {
    text-align: center;
    position: relative;
    top: 40%;
    right: 0%;
  }

  .title-main-page {
    font-size: 40px;
  }

  .describe-photograph-main-page {
    font-size: 10px;
  }

  footer {
    text-align: center;
  }

  .about-main-content {
    text-align: center;
  }

  .describe-photograph-about-page,
  .camera {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) and (max-width: 1500px) {
  footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--background-color-footer);
    text-align: center;
  }
}

/*About page*/

.about-main-content {
  margin-top: 72px;
  background-color: var(--background-color-images);
}

.headings-about-page {
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 18px;
  color: var(--color-headings-about-page);
}

.title-about-page {
  font-weight: bold;
  font-size: 64px;
  color: var(--primary-color);
  letter-spacing: 5px;
}

.describe-photograph-about-page {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 560px;
  color: var(--primary-color);
}

.camera {
  max-width: 430px;
  border-radius: 4px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 20px;
  background-color: var(--background-color-footer);
}

.name-camera {
  padding-left: 30px;
}
